.wrapper
  .chat-side
    .chat-side__header
      .chat-side__header__box
        %p.chat-side__header__box__user-name
          = current_user.name
        %ul.chat-side__header__box__menu
          %li.chat-side__header__box__menu__new-group
            =link_to "https://www.facebook.com/", class: "contents__btn" do
              = fa_icon "edit"
          %li.chat-side__header__box__menu__edit-user
            =link_to edit_user_path(current_user) do
              = fa_icon "cog", class: "icon"
    .chat-side__groups
      .chat-side__groups__group
        .chat-side__groups__group__group-name
          一宮興道
        .chat-side__groups__group__latest-message
          一宮興道高校

  .chat-main
    .chat-main__header
      .chat-main__header__left-box
        .chat-main__header__left-box__current-group
          一宮興道
        .chat-main__header__left-box__member-list
          Member : morikawa
          .chat-main__header__left-box__member-list__member 
      .chat-main__header__left-box__main-header
        %a.chat-main__header__left-box__main-header__edit-btn
          Edit
      
    .chat-main__messages
      .chat-main__messages__message
        .chat-main__messages__message__upper-info
          %p.chat-main__messages__message__upper-info__talker
            あああ
          %p.chat-main__messages__message__upper-info__date
            2019/09/21(Sat) 09:20:30
        .chat-main__messages__message__text
          なんくる
    .chat-main__form
      .chat-main__form__new-message
        .chat-main__form__new-message__input-box
          type a message
          %a.chat-main__form_
          %label.chat-main__form__new-message__input-box__image
            =link_to "https://di-v.co.jp", class: "contents__btn" do
              = fa_icon "image"
        .chat-main__form__new-message__submit-btn
          Send