a {
  text-decoration: none;
}

.wrapper{
  margin: 0;
  padding: 0;

  .chat-main{
    width: calc(100% - 300px);
    float: right;
    &__header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;

      &__left-box{
        margin-top: 35px;

        &__current-group{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }

        &__member-list{
          color: #999999;
          font-size: 12px;
          display: flex;
          

          &__member{
            color: #999999;
            font-size: 12px;
            float: right;
            display: flex;
            padding-left: 5px;
          }
        }
      }
      

      &__left-box__edit-btn{
        color: #38aef0;
        border: 1px solid #38aef0;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
      }
    }
    &__messages{
      height: calc(100vh - 100px - 90px);
      box-sizing: border-box;
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;

      &__message{
        padding-bottom: 40px;

        &__upper-info{
          display: flex;
          margin-bottom: 10px;

          &__talker{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }

          &__date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }

        &__text{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}
